    {% extends 'auth.html' %}

    {% block title %}ახალი პაროლი{% endblock %}
    
    {% block content %}
    <div class="max-w-md mx-auto mt-8 bg-white p-8 rounded shadow-md" style="margin-top: 28vh">
        <div class="max-w-sm mx-auto"> 
            <form method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="password1" class="block text-gray-700 mb-4">ახალი პაროლი:</label>
                    <input type="password" name="password1" id="password1" class="border border-gray-300 rounded-md px-3 py-2 w-full">
                </div>
                <div class="mb-4">
                    <label for="password2" class="block text-gray-700 mb-4">გაიმეორე ახალი პაროლი:</label>
                    <input type="password" name="password2" id="password2" class="border border-gray-300 rounded-md px-3 py-2 w-full">
                </div>
                <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                    შენახვა
                </button>
            </form>
                {% if messages %}
                        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
                            {% for message in messages %}
                                    <span class="block sm:inline">{{ message }}</span>
                                {% endfor %}
                            </div>
                {% endif %}
        </div>
    </div>
    {% endblock %}